<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">开发中</a></li>
        <li><a href="#">开发中</a></li>
        <li><a href=>敬请期待</a></li>
        #}
        <li><a href="#">敬请期待</a></li>
    </ul>
    <form class="navbar-form navbar-right text-center" action="">
        <input type="text" name="wd" class="form-control" placeholder="Search...">
        <input type="submit" class="btn btn-primary">
        <input type="reset" value="重置" class="btn btn-primary" href=""/>
    </form>
</div>